body{
    background-color: beige;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0px 0px 12px 0px;
    padding: 0px 20px;
    box-sizing: border-box;
}
.img-article-container{
    display: flex;
    margin: 20px;
}

.img {
    display: flex;
    margin-top: 20px;
    margin-left: 12px;
    justify-content: center;
    align-items: center;
}
.greeting {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 12px;
}
.greeting h2{
    margin-top: 0px
}
nav {
    background-color: rgb(29, 104, 7);
    margin: 0px 20px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a  {
    
    color: white;
    font-weight: bold;
}

#site-title{
    text-align: center;
}
.lists-container {
    display: flex;
    justify-content: space-around;
}

